#!/usr/bin/expect -f

# Author: bitfinity.nl
# File: /tmp/setup.client.sh 
#
# Description:
#   Script for automating UrBackup client on Ubuntu.

set timeout -1 

# -- 1. Run installer --
spawn /tmp/urbackup-client.sh 

# -- 2. Proceed with UrBackup client installation
expect -re {... Proceed ?.*}
send -- "Y\r"

# -- 3. Choose snapshot mechanism
expect "Please select the snapshot mechanism to be used for backups:\r"
send -- "{{ ubk_ubt_cli_snapshot_mech }}\r"

# 4. End script
expect eof