#This is a key=value config file for determining the scripts/programs to create snapshots

create_filesystem_snapshot=/usr/local/share/urbackup/lvm_create_filesystem_snapshot
remove_filesystem_snapshot=/usr/local/share/urbackup/lvm_remove_filesystem_snapshot
