  <VirtualHost *:80>

    ServerAdmin {{ ubk_ubt_srv_serveradmin }}

    ProxyPass / http://localhost:55414/
    ProxyPassReverse / http://localhost:55414/

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    RewriteEngine on
 #   RewriteCond %{SERVER_NAME} =docs.example.com
    RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,QSA,R=permanent]
 
  </VirtualHost>

<IfModule mod_ssl.c>

  <VirtualHost _default_:443>
	  ServerAdmin {{ ubk_ubt_srv_serveradmin }}

    <Proxy *>
        Order deny,allow
        Allow from all
    </Proxy>

    ProxyRequests Off
    ProxyPreserveHost On
    ProxyPass / http://localhost:55414/
    ProxyPassReverse / http://localhost:55414/

	  SSLEngine on
	  SSLCertificateFile	{{ ubk_ubt_srv_cert_file }}
	  SSLCertificateKeyFile {{ ubk_ubt_srv_cert_key_file }}
    SSLCertificateChainFile {{ ubk_ubt_srv_cert_chain_file }}        
   
	  <FilesMatch "\.(cgi|shtml|phtml|php)$">
		  SSLOptions +StdEnvVars
	  </FilesMatch>

	  <Directory /usr/lib/cgi-bin>
		  SSLOptions +StdEnvVars
	  </Directory>

    <Directory /var/www/html/urbackup>
      Options +FollowSymLinks +ExecCGI -Indexes -MultiViews
      AllowOverride none
      Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
	  CustomLog ${APACHE_LOG_DIR}/access.log combined

  </VirtualHost>
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
